*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: #000;
  color: white;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card{
  height: 330px;
  width: 280px;
  background-color: #ffff;
  color: black;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .top img{
  height: 35px;
  width: 38px;
  border-radius: 50%;
  border: 1px solid gray;
  /* margin: 20px; */
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 8px;
  font-size: 13px;
  border-radius: 5px;
  gap: 3px ;
  background-color: transparent;
  color: #b1b1b1;
}

.center{
  /* background-color: tomato; */
  margin-top: 20px;
}

.center h3{
  font-size: 17px;
  font-weight: 600;

}

.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2{
  font-size: 20px;
}

.center .tags{
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.center .tags h4{
  /* border: 1px solid gray; */
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 5px;
  background-color: #dadada;
  color: #111;
  border-radius: 3px;
}

.card .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(128, 128, 128, 0.537);
  padding-top: 10px;
}

.bottom button{
  background-color: #111;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}

.bottom h3{
  font-size: 17px;
}

.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}